.drop-zone {
  border: 2px dashed #ccc;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  min-height: 120px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-preview {
  max-width: 100px;
  max-height: 100px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.remove-button {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #f44336;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #252525;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  position: relative;
  color: #e0e0e0;

  h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
  }

  .tabs{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #87ceeb;
    cursor: pointer;
    font-size: 18px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 700;
    }

    .image-preview {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: 4px;
      margin-top: 10px;
    }

    .error {
      display: block;
      color: #ff6b6b;
      font-weight: 700;
      padding: 20px;
      margin-top: 5px;
    }
  }
}
