@use "./variables";

@mixin btnMixin(
  $back,
  $shadow,
  $padding,
  $fz,
  $fw,
  $border,
  $color,
){
  background: $back;
  box-shadow: $shadow;
  padding: $padding;
  border: $border;
  font: {
    size: $fz;
    weight: $fw;
  };
  color: $color;
  transition:
    all .2s linear;

  &:hover{
    background: rgba(
      $color: variables.$btnHover,
      $alpha: .75
    );
    color: #000;
    box-shadow: 0 0 30px variables.$btnHover;
  }
}
