@use "../../../../styles/variables";

.sliderBlock__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{
    color: #fff;
    font-weight: 900;
  }
  .slider-btn{
    display: flex;
    gap: 40px;
    align-items: center;

    .btn_prev{
      rotate: 180deg;
    }
    .btn{
      width: 80px;
      height: 80px;
      display: grid;
      place-content: center;
    }
  }
}
h1{
  font-size: 48px;
  width: 450px;
}
.swiper-slide{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 20px;
  font-size: 16;
  padding: 20px;
  width: 100%;
  height: 200px !important;
  border-radius: 10px;
  background: radial-gradient(
    rgba($color: variables.$neonLightBlue, $alpha: 0.4) 5%,
    rgba($color: #fff, $alpha: 0.1) 65%,
  );
  color: #fff;

  h1{
    font-weight: 900;
  }
}
