@use "./styles/variables";

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &:has(aside){
    flex-direction: row;
  }
  &:has(.btn_open){
    color: variables.$lightlightblue;
    padding: 20px;
    position: absolute;
    cursor: pointer;
  }
}
