.workflow{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-block: 40px;

  .workflow__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1{
      font-size: 48px;
      font-weight: 900;
      width: 500px;
      color: #fff;
    }
    p{
      width: 410px;
      color: #D3FBFF;
      text-align: right;
    }
  }
  img{
    width: 100%;
    border-radius: 20px;
    height: 720px;
    object-fit: cover;
    object-position: top center;
  }
}
